@font-face {
    font-family: 'sweet_sorrowscript';
    src: url('../assets/fonts/sweet_sorrow-webfont.woff2') format('woff2'),
         url('../assets/fonts/sweet_sorrow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dekarregular';
    src: url('../assets/fonts/dekar-webfont.woff2') format('woff2'),
         url('../assets/fonts/dekar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**** SCSS VARIABLES ****/

$primaryColor: #81D4FA;
$secondaryColor: #FF6E40;
/**** GENERAL ****/

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, html {
	height: 100%;
    margin: 0;
    font-size: 10px;
}

h1 {font-size:5.5rem};
h2 {font-size:4.5rem};
h3 {font-size:3.5rem};
h4 {font-size:2.5rem};
h5 {font-size:2.0rem};
h6 {font-size:1.8rem};

.container {
    max-width: 950px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

h1 {
    font-family: "sweet_sorrowscript" ;
}
p {
    font-size: 1.5rem;
    font-family: 'Open Sans';
}
.lead {
    font-size:1.5rem;
}

    input[type=text], input[type=email], select, textarea  {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid black;
        border-radius: 5px;
    }

label {
    font-size: 1.6rem;
}

.ankeny {
    color: $primaryColor;
    //font-family: "sweet_sorrowscript";
    text-shadow: 2px 2px black;
}
.summerfest {
    color: $secondaryColor;
    //font-family: "sweet_sorrowscript";
    text-shadow: 2px 2px black;
}

.btn {
    padding: 15px 20px;
    border:none;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
}

.logo {
    text-align: center;
    font-size: 3.5rem;
    a {
    font-family: "sweet_sorrowscript" !important; 
    text-decoration: none;
    }
}

.active a {
    color: $secondaryColor !important;
}

/**HOME PAGE**/

.home-header-bg {
    display: inline-block;
    width: 100%;
    background-image:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),
    url('../assets/img/fireworkBG.jpeg');
    //background-image: url('../assets/img/fireworkBG.jpeg');
    position: relative;
    // height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .home-header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        line-height: 85px;
        text-align: center;
        color: white;
    }
    .header-title {
        font-size: 10rem;
    }
    .lead {
        font-family: 'Open Sans';
        text-align: center;
        color: white;
    }

}

/*Other Header*/

.index-header-bg {
    position: relative;
    height: 100%;
    background-image:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),
    url('../assets/img/fireworkBG.jpeg');
    //background-image: url('../assets/img/fireworkBG.jpeg');
    position: relative;
    // height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .home-header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        line-height: 85px;
        text-align: center;
        color: white;
    }
}

.header-bg {
    background: #1E88E5; /* For browsers that do not support gradients */
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    .header-title{
        float: right;
        font-size: 4rem;
        color: white;
        }
}

    .page-title {
        text-align: center;
    }


/***** NAVIGATION BAR *****/
.navMenu {
    position: relative;
    top: 0;
    right: 0;
    ul.navList {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: 0;
        li {
            display: inline-block;
            a {
                display: block;
                padding: 18px 16px;
                font-family: "dekarregular";
                font-size: 2.5rem;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                color: white;
                &:hover {
                    color: #F9F6B1;
                }

            }
        }
     }
}

/***** ADMIN LOGIN PAGE *****/

    .adminLoginContainer {
        background: white;
        width: 40rem;
        height: 45rem;
        margin: 0 auto;
        padding: 2rem;
        border-radius: 1rem;
        h2 {
            font-family: "dekarregular";
            text-align: center;
        }
        .adminLoginFields {
            width: 100%;
            border:2px solid black;
            margin-bottom: 2.5rem;
            padding: 1.7rem 1.4rem;
            border-radius: 5px;
        }
        .adminLoginActionFields {
            display: block;
            width: 100%;
            background: #1E88E5;
            margin: 0 auto;
            margin-bottom: 2.5rem;
            padding: 1.2rem 1.7rem;
            border:none;
            border-radius: .5rem;
            text-align: center;
            color: white;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .adminControlPanel {
        h1 {
            color: white;
        }
        // display: inline-block;
        // position: relative;
        // top: 50%;
        // left: 50%;
        border-radius: 1rem;
        text-align: center;
        // transform: translate(-50%, -50%);
        // -moz-transform: translate(-50%, -50%);
        .controlPanelOption {
            background: white;
            width: 30%;
            height: 50rem;
            float: left ;
            margin: 0 1.5rem;
            border-top-right-radius:15px ;
            border-top-left-radius:15px ;
            button {
                width: 75%;
                background: $secondaryColor;
                margin: 1rem 3rem 2rem 3rem;
                font-size: 2rem;
                &:hover {
                    background: #ff815a;
                    cursor: pointer;
                }
            }
        .card-title {
            background: $primaryColor;
            border-top-right-radius:15px ;
            border-top-left-radius:15px ;
            h1 {
                font-size: 4rem;
            font-family: "dekarregular" !important;
            }
        }
        .card-image {
            margin: 2.5rem auto;
        }
        .reset {
            margin-bottom: 0;
        }
        }


    }

/***** CONTACT US PAGE *****/

.contactFormContainer {
    background: white;
    padding: 15px 20px;
    text-align: center;
    border:2px solid black;
    border-radius: 15px;
    label {
        float: left;
        font-size: 2rem;
    }
    input[type=text], input[type=email], select, textarea  {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid black;
        border-radius: 5px;
    }
    .contactFormReCAPTCHA {
        text-align: center;
        margin: 0 auto;
    }
    input[type=submit], input[type=reset] {
        display: inline-block;
        background: $primaryColor;
        width: 45%;
        margin: 0 auto;
        padding: 1rem;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        &:hover {
            cursor: pointer;
        }
    }
}
.error {
    float: right;
    font-size: 1.3rem;
    color: red;
}

/***** GET-INVOLVED PAGE *****/

.modal {
    display: none; /*Hidden by default */
    position: fixed; /*Stuck in place*/
    z-index: 10; /*Gotta be on top*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /*Scroll may be needed*/
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalContent {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
}
.closeModal {
    float: right;
    opacity: .8;
    font-size: 3rem;
    font-weight: bold;
    color: $secondaryColor;
    &:hover, &:focus {
        opacity: 1;
        text-decoration: none;
        cursor: pointer;
    }
}

.SignupForm {
    text-align: left;
    label {
        float: left;
        font-weight: bold;
    }
    input[type=text], input[type=email], select, textarea {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid black;
        border-radius: 5px;
    }
    .checkboxListItem {
        display: inline-block;
        font-size: 1.6rem;
        .checkboxDescription{
        padding-left: 1rem;
        }        
    }
    input[type=file],.fileMsg {
        margin-bottom: 5px;
    }
    .btnContainer {
        text-align: center;
    }
    .btn {
        display: inline-block;
        background: $primaryColor;
        width: 45%;
        margin: 0 auto;
        padding: 1rem;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        &:hover {
            cursor: pointer;
        }
    }
    .radioDescrip {
        font-size: 1.6rem;
        padding-left: 1rem;

    }
}
/***** Add Volunteers *****/

.adminAddVolunteers {
        background: white;
        width: 75%;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: .5rem;
        border-radius: 1rem;
        .title {
            background: $secondaryColor;
            padding: 1rem;
            text-align: center;
            border-top-left-radius: 1rem; 
            border-top-right-radius: 1rem; 
        }
        .volFormSelection {
            width: 50%;
            float: left;
            margin-top: 3rem;
            padding: 0 1rem 0 1rem;
            input[type=text], input[type=email], textarea {
                width: 95%;
            }

        }
        .btnContainer {
            display: inline-block;
            width: 100%;
            margin-top: 3rem;
            padding-bottom: 3rem;
            .btn {
                width: 25%;
            }
        }
        .volunteerAddedMsg {
            padding-bottom: 1rem;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            color: $primaryColor;
        }
}
/***** List of Volunteers / Sponsors *****/
    .listView {
            background-image:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),
            url('../assets/img/fireworkBG.jpeg');
            //background-image: url('../assets/img/fireworkBG.jpeg');
            position: relative;
            height: 100%;

            background-size: cover;
            .navMenuNew {
                position: relative;
                top: 0;
                right: 0;
                ul.navList {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: 0;
                    li {
                        display: inline-block;
                        a {
                            display: block;
                            padding: 18px 16px;
                            font-family: "dekarregular";
                            font-size: 2.5rem;
                            text-transform: uppercase;
                            text-decoration: none;
                            text-align: center;
                            color: white;
                            &:hover {
                                color: #F9F6B1;
                            }
                        }
                    }
                 }
            }
    }
    .listContainer {
        background-color: $primaryColor;
        text-align: center;
        margin: 0 auto;
        .listBlock {
            background-color: white !important;
            display: inline-block;
            width: 45%;
            border:1px solid black;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            margin-bottom: 2rem;
            .editIconContainer {
                float: left;
                padding: .5rem .5rem 0 .5rem;
                a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        font-weight: bold;
                    }
                    span {
                        display: block;
                        font-size: 1.4rem;
                    }
                }

            }
            .deleteIconContainer {
                float: right;
                padding: .5rem .5rem 0 .5rem;
                a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        font-weight: bold;
                    }
                    span {
                        display: block;
                        font-size: 1.4rem;
                    }
                }
            }
            .listTitle {
                background-color: $secondaryColor;
                border-top-right-radius: inherit;
                border-top-left-radius: inherit;
            }
            .listBody {
                text-align: left;
                padding: 0 2rem;
                p {
                    font-size: 1.6rem;
                }
                span {
                    text-align: right;
                }
            }
        }


    }


/***** Send email to all volunteers *****/
.sendEmailContainer {
    .emailVolunteersForm {
        width: 95%;
        height: 25rem;
        margin-bottom: 1rem;
    } 
    .btnContainer {
        padding-bottom: 1rem;
        .btn {
            width: 45%;
        }
    }
}

/*Media Queries*/
   @media only screen and (max-width: 1175px) {
        .home-header-bg {
            height: auto;
        }
        .card-container {
            display: inline-block;
            width: 50%;
            margin: 1rem;
            .card {
                width: 100%;
            }
        }
        .adminControlPanel .controlPanelOption {
            margin: 0;
        }
   }
   /*Gives more space to Get-Involved Modal */
   @media only screen and (max-width: 975px) {
        .modalContent {
            width: 75%;
        }
        .get-involved-lead {
            padding: 0 2rem;
        }

   }

   @media only screen and (max-width: 695px) {
        .adminAddVolunteers .volFormSelection {
            width: 100%;
            float: none;
        }

   }
   @media only screen and (max-width: 675px) {
        .card-container {
            width: 75%;
        }
       /*Gives more space to Get-Involved Modal */
        .modalContent {
            width: 95%;
        }
    }
   @media only screen and (max-width: 455px) {
        .card-container{
            width: 95%;
        }
    }

